In [1]:
import pandas as pd
df = pd.read_csv('data/GALLUP.csv')
df.head(10)

   WP16       wgt country     income_2  WP1219  WP1220  year  weo_gdpc_con_ppp
0     4  1.800488  Israel  18042.77108     1.0    15.0  2016         32658.020
1     4  2.360024  Israel  12799.41274     1.0    15.0  2013         31369.909
2     8  1.463117  Israel  22448.93600     1.0    15.0  2015         32038.697
3     5  1.246618  Israel  16853.73974     1.0    15.0  2014         31844.204
4     8  1.800488  Israel  22206.48749     1.0    15.0  2016         32658.020
5    10  1.463117  Israel  23851.99449     1.0    15.0  2015         32038.697
6     9  1.246618  Israel  50561.21923     1.0    15.0  2014         31844.204
7     9  1.350366  Israel  33309.73123     1.0    15.0  2016         32658.020
8    10  1.800488  Israel  83274.32807     1.0    15.0  2016         32658.020
9     8  1.463117  Israel  28061.16999     1.0    15.0  2015         32038.697

In [5]:
df.describe()

,WP16,wgt,income_2,WP1219,WP1220,year,weo_gdpc_con_ppp
count,1.340809e+06,1.340809e+06,1.340809e+06,1.340808e+06,1.340624e+06,1.340809e+06,1.316687e+06
mean,5.515844e+00,9.981441e-01,2.661370e+04,1.531649e+00,4.152368e+01,2.012821e+03,2.023897e+04
std,2.312987e+00,6.772548e-01,1.116962e+06,4.989975e-01,1.781361e+01,2.363612e+00,1.934277e+04
min,0.000000e+00,6.493207e-02,0.000000e+00,1.000000e+00,1.300000e+01,2.009000e+03,6.043400e+02
25%,4.000000e+00,4.892472e-01,4.311222e+03,1.000000e+00,2.700000e+01,2.011000e+03,5.190297e+03
50%,5.000000e+00,8.148008e-01,1.084338e+04,2.000000e+00,3.900000e+01,2.013000e+03,1.384583e+04
75%,7.000000e+00,1.307699e+00,2.694815e+04,2.000000e+00,5.400000e+01,2.015000e+03,3.174637e+04
max,1.000000e+01,7.637515e+00,8.980336e+08,2.000000e+00,1.010000e+02,2.017000e+03,1.457238e+05

In [6]:
df.shape

(1340809, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340809 entries, 0 to 1340808
Data columns (total 8 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   WP16              1340809 non-null  int64
 1   wgt               1340809 non-null  float64
 2   country           1340809 non-null  object
 3   income_2          1340809 non-null  float64
 4   WP1219            1340808 non-null  float64
 5   WP1220            1340624 non-null  float64
 6   year              1340809 non-null  int64
 7   weo_gdpc_con_ppp  1316687 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 81.8+ MB

In [ ]:
!pip install pandas-profiling

In [10]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [11]:
profile = ProfileReport(pd.read_csv('data/GALLUP.csv'),
                        title='Pandas GALLUP Profiling Report',
                        html={'style': {'full_width': True}}, 
                        sort="None")

In [12]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

/Users/amrmkayid/anaconda3/envs/nam/lib/python3.7/site-packages/scipy/stats/stats.py:4594: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [13]:
profile.to_file("EDA.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]